@charset "UTF-8";

main {
    width: 340px;
    margin-top: 35px;
}

img#hero {
    width: 340px;
}

div#field {
    width: 310px;
    height: 70px;
}

p.plans {
    margin-right: 100px;
    text-align: center;
}

button {
    width: 315px;
}

div.attribution {
    margin-top: 10px;
}